In [22]:
import numpy as np
import pandas as pd

In [23]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [24]:
filepath = '/content/gdrive/My Drive/titanic/'

In [25]:
train= pd.read_csv(filepath + 'train.csv')
test=pd.read_csv(filepath+'test.csv')
print(train.shape)

(891, 12)

In [26]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [27]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [28]:
data = pd.concat([train,test],sort = False)
data['Sex'].replace(['male','female'], [0,1], inplace=True)

In [29]:
data['Fare'].fillna(np.mean(data['Fare']), inplace=True)

In [30]:
data.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1       0.0       3  ...   7.2500    NaN         S
1            2       1.0       1  ...  71.2833    C85         C
2            3       1.0       3  ...   7.9250    NaN         S
3            4       1.0       1  ...  53.1000   C123         S
4            5       0.0       3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [31]:
data.tail()

     PassengerId  Survived  Pclass  ...      Fare  Cabin  Embarked
413         1305       NaN       3  ...    8.0500    NaN         S
414         1306       NaN       1  ...  108.9000   C105         C
415         1307       NaN       3  ...    7.2500    NaN         S
416         1308       NaN       3  ...    8.0500    NaN         S
417         1309       NaN       3  ...   22.3583    NaN         C

[5 rows x 12 columns]

In [32]:
set(data['Sex'])

{0, 1}

In [33]:
data.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          2
dtype: int64

In [34]:
data['Embarked'].fillna(('S'), inplace=True)  
data['Embarked'] = data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)

In [36]:
age_avg = data['Age'].mean()
age_std = data['Age'].std()

data['Age'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)

In [37]:
delete_columns = ['Name', 'PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

In [38]:
train = data[:len(train)]
test = data[len(train):]

In [39]:
y_train = train['Survived']
X_train = train.drop('Survived', axis=1)
X_test = test.drop('Survived', axis=1)

In [40]:
X_train.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         0
3       1    1  35.0  53.1000         0
4       3    0  35.0   8.0500         0

In [41]:
y_train.head()

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Survived, dtype: float64

In [42]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(penalty='l2', solver='sag', random_state=0)

clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='sag', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_pred = clf.predict(X_test)

In [48]:
y_pred[:20]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0.])

In [49]:
sub = pd.read_csv(filepath+'gender_submission.csv')
sub['Survived'] = list(map(int, y_pred))
sub.to_csv(filepath+'submission.csv', index=False)